<div class="grid-body">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile class="grid-tile" [colspan]="2" [rowspan]="5" style="background-color: lightgray;"></mat-grid-tile>
        <mat-grid-tile class="grid-tile"  [colspan]="1" [rowspan]="2" style="background-color: lightgray;"></mat-grid-tile>
        <mat-grid-tile class="grid-tile"  [colspan]="1" [rowspan]="2" style="background-color: lightgray;"></mat-grid-tile>
        <mat-grid-tile class="grid-tile"  [colspan]="2" [rowspan]="3" style="background-color: lightgray;"></mat-grid-tile>


      </mat-grid-list>
      
</div>
