<div class="container-fluid d-flex justify-content-center">

  <!-- <div class="under-construction mt-5 p-5">

    <h2 class="quicksand" style="margin-bottom: 0px;">Coming Soon 2021</h2>
  
  </div> -->

  <div id="container" class="section">
    <div id="header" class="d-flex justify-content-center ">
      <!-- <img src="../../assets/amethystlogo2.png"> -->
      <img class="inside-logo mb-5" src="../../assets/amethystlogo.png">

    </div>
    <div id="ribbon">
      <div id="nav">
        <ul class="nav d-flex justify-content-center">
          <li class="ribeye" style="font-size: 12px">Online Experience Coming Soon</li>
        </ul>
      </div>
    </div>
  </div>


</div>