<div class="card-scroller-body">
    <mat-card class="item-card" *ngFor="let card of cards">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{card.name}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="img-style" mat-card-image src={{card.imgUrl}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi atque quo amet, eum magni sequi quibusdam quidem quas rerum, in sint! Recusandae reiciendis labore aliquam, asperiores nulla quisquam voluptatum et!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button style="font-weight: bolder;" mat-button>{{card.price}}</button>
          <button style="font-size: 10px;" mat-button>CUSTOMIZE</button>
        </mat-card-actions>
      </mat-card>
</div>
